<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property resource="application.properties" />

  <!-- https://logback.qos.ch/manual/layouts.html#ClassicPatternLayout -->
  <!-- https://logback.qos.ch/manual/layouts.html#formatModifiers -->
  <property name="LOG_CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-50.50logger{50} : %msg%n" />
  <property name="LOG_VTL_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-50.50logger{50} : %msg%n" /> <!-- TODO: customize to make it as readable as possible for the user -->

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_CONSOLE_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- https://logback.qos.ch/manual/appenders.html#uniquelyNamed -->
  <timestamp key="startTimestamp" datePattern="yyyyMMddHHmm"/>
  <appender name="vtlLog" class="ch.qos.logback.core.FileAppender">
    <file>${fr.insee.kraftwerk.vtlLogDirectory}/kraftwerk-vtl-${startTimestamp}.log</file>
	<encoder>
      <pattern>${LOG_VTL_PATTERN}</pattern>
    </encoder>
  </appender>
  
  <logger name="fr.insee.kraftwerk.core.dataprocessing" additivity="false" level="info">
    <appender-ref ref="vtlLog" />
  </logger>
  
  <logger name="fr.insee.kraftwerk.core.vtl" additivity="false" level="info">
    <appender-ref ref="vtlLog" />
  </logger>

  <root level="info">
    <appender-ref ref="console" />
  </root>
    
</configuration>