MULTIMODE := MULTIMODE [calc BIG_LOGEMENT := if NHAB > 3.0 then 1 else 0];

MULTIMODE := MULTIMODE 	[calc BOUCLEINDIV.MAX_ETAT_SANT := if BOUCLEINDIV.ETAT_SANT = "4" then 1 else 0];
MULTIMODE := MULTIMODE 	[calc MENAGE_AVEC_MAX_ETAT_SANT := 0];
MULTIMODE := MULTIMODE 	[calc MENAGE_AVEC_MAX_ETAT_SANT := if BOUCLEINDIV.MAX_ETAT_SANT = 1 or MENAGE_AVEC_MAX_ETAT_SANT = 1 then 1 else 0];
